@font-face {
  font-weight: normal;
  font-family: "Suisse Int'l Regular";
  src: url("../assets/fonts/Suisse_Intl/SuisseIntl-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Suisse Int'l Book";
  font-weight: normal;

  src: url("../assets/fonts/Suisse_Intl/SuisseIntl-Book.otf") format("opentype");
}
@font-face {
  font-family: "Suisse Int'l Light";
  font-weight: light;
  src: url("../assets/fonts/Suisse_Intl/SuisseIntl-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "Suisse Int'l Medium";
  font-weight: medium;
  src: url("../assets/fonts/Suisse_Intl/SuisseIntl-Medium.otf")
    format("opentype");
}

* {
  padding: 0;
  margin: 0;

}

html {
  height: 100%;

}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  a {
    color: #e5e5e5;
    text-decoration: none;
  }
  margin: 0;
  background-color: #272727;
  color: #e5e5e5;
  font-family: "Suisse Int'l Regular";
  font-style: normal;
  font-size: 21px;
  line-height: 1.2;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
